# Retrieving data from Kiva API

We will be using [KIVA](https://www.kiva.org/) data for the entirety of this course. Kiva makes it's data publically available through it's [API](http://build.kiva.org/). 

Not sure what an API is? It stands for Application Program Interface. Code Academy has a fantastic short course (link [here](https://www.codecademy.com/en/tracks/placekitten) that introduces you to APIs and allows you to pull images of kittens from a website by the end of the session.

Below, we import the packages we need in order to retrieve data from the API.

In [63]:
from urllib.request import urlopen, Request
import json
from pandas.io.json import json_normalize
import pandas as pd
import requests as r
import os
import logging
import time
pd.set_option('display.max_columns', 80)

The cell below enables Jupyter to show the output of multiple cells at once. There are a lot of cool jupyter specific commands to allow you to work faster. [Here](https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/) is a great article that goes through some less well known shortcuts and tricks.

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In the cell below we set the maximum number of columns to 100 so we can see our entire data set. If we did not set this option, we would not be able to see some columns in our dataset.

In [100]:
pd.set_option('display.max_columns', 100)

Using % in the section below indicates a magic command. You can find out more about magic commands [here](https://ipython.org/ipython-doc/3/interactive/magics.html). To see all available magic commands run this line of code:

`%lsmagic`

Using the % in the block of code below allows us to run commands on the terminal from within jupyter. We make a folder in our user directory where we will store the data we retrieve from the api.

In [ ]:
% mkdir ~/_intro_machine_learning_course
% cd ~/_intro_machine_learning_course
% pwd
% ls

In the line below, we create a data cache. A cache is a great way to store data, when it is costly to retrive it from scratch every time.

In [ ]:
store = pd.HDFStore('kiva_cache.h5')

There is great documentation on Kiva's API [here](http://build.kiva.org/api). The documentation explains what parameters (conditions) we need to pass in our request to Kiva's database in order to get the data we want.

We are trying to retrive all Kiva data from Kenya. So we will be using two main parameters where we set country_code=KE (KE is the two letter [ISO](https://en.wikipedia.org/wiki/ISO_3166-2) code for Kenya), and we increase the results per page to 500 (this is the maximum KIVAs API appears to allow). You can see the HTML results of the api call by pasting the url below into your browser, HTML is a format that is really easy to read.

http://api.kivaws.org/v1/loans/search/?country_code=KE&per_page=500

1) Go ahead and play with the url in order to retrieve different data. For example, how would you retrieve data from South Africa (ZA)?

2) How would you only retrive 200 results?

Answers:

1) http://api.kivaws.org/v1/loans/search/?country_code=ZA&per_page=500

2)  http://api.kivaws.org/v1/loans/search/?country_code=ZA&per_page=200

We want to request this data from the api and store it in a format that is more intuitive to us - a dataframe. Let's get started. The code below retrieves the first 500 results and converts it into a pandas dataframe. You will get to know a lot more about dataframes over the next few classes.

In [52]:
d = r.get('http://api.kivaws.org/v1/loans/search.json?country_code=KE&per_page=500')

Notice that in the request above we specify json as the type of text we want returned. This is easier to handle and change into a python dataframe. You can past the link into your browser to understand the difference between [JSON](https://en.wikipedia.org/wiki/JSON) and [HTML](https://en.wikipedia.org/wiki/HTML).

By running d.headers below we can see all the data associated with our request. It shows the time of our request, the fact that we are requesting json text 'Content-Type': 'application/json; charset=UTF-8', in addition to other details.

In [53]:
d.headers

{'Date': 'Wed, 03 May 2017 23:56:20 GMT', 'Server': 'Apache/2.4.7 (Ubuntu)', 'Access-Control-Allow-Origin': '*', 'Expires': 'Tue, 03 Jul 2001 06:00:00 GMT', 'Last-Modified': 'Wed, 03 May 2017 23:56:20 GMT', 'Cache-Control': 'private, no-store, no-cache, must-revalidate, max-age=0, post-check=0, pre-check=0, proxy-revalidate, no-transform', 'Pragma': 'no-cache', 'X-RateLimit-Overall-Limit': '60', 'X-RateLimit-Overall-Remaining': '60', 'Vary': 'Accept-Encoding', 'Content-Encoding': 'gzip', 'Content-Length': '26111', 'Content-Type': 'application/json; charset=UTF-8'}

By running the command d.json() below we can get an idea of what our data looks like before we change it into a pandas data frame. In order to see the output, remove the `;` from the end of the codeblock. We have added the `;` to supress output for easier reading in our repo.

In [222]:
d.json()

{'code': 'org.kiva.RateLimitExceeded',
 'message': 'You are making requests to the server too often and have been temporarily blocked. You can find out more details at http://build.kiva.org/docs/data/rate.'}

`json.loads` turns the json object into a python object.

In [60]:
data = json.loads(d.text)

`json_normalize` normalizes semi-structured json data into a flat table

In [61]:
loans=json_normalize(data['loans'])

We have now extracted the first 500 rows of loans from the API. We can confirm how many rows we have in a dataset using the len() function below. Now, we need to extract this data more systematically for all Kenyan loan results. KIVA has a parameter called page but does not allow for range of pages, so we will have to create a python loop to go through each page of results and add to our dataset.

In [63]:
len(loans.index)

500

In the function defined below we are doing a few things. Firstly, we create an empty dataframe, then we loop through each page and call the api. We add the results of each page to our dataframe.

The first part of the coad extracts all the loans in Kenya, the second part of the function extracts additional loan information (like the longer description about the loan) by making a second api call. This is inserted in a second dataframe called loans_details. There is a restriction on the second API call which only allows us to pass 100 loans in one call. To address this, we have a parameter in `pages=100` which means we only extract 100 loans in every call which allows us to satisfy the second restriction.

In [286]:
def extract_loans(pages,country_iso_code):
    loans_full=pd.DataFrame()
    loans_details=pd.DataFrame()
    for n in range(1, pages+1):
        s=str(n)
        print(s)
        d = r.get('http://api.kivaws.org/v1/loans/search.json?country_code='+country_iso_code+'&per_page=100&page='+s)
        data = json.loads(d.text)
        loans=json_normalize(data['loans'])
        
        #below we take the loan id column from our retrieved loan data, and use it to pull additional details
        #about our loans. We store this in a seperate table loans_details
        
        loan_id= loans['id'].tolist()
        loan_id_str = ','.join(str(e) for e in loan_id)
        ld=r.get('https://api.kivaws.org/v1/loans/'+loan_id_str+'.json')
        ld_data = json.loads(ld.text)
        loans_ext=json_normalize(ld_data['loans'])
        loans_details=loans_details.append(loans_ext, ignore_index=True)
        
        loans_full=loans_full.append(loans,ignore_index=True)
        print(len(loans_full.index))
        time.sleep(10)
        
    return loans_full, loans_details

In [287]:
loans_full,loans_details = extract_loans(1279,'KE')

1
100
2
200
3
300
4
400
5
500
6
600
7
700
8
800
9
900
10
1000
11
1100
12
1200
13
1300
14
1400
15
1500
16
1600
17
1700
18
1800
19
1900
20
2000
21
2100
22
2200
23
2300
24
2400
25
2500
26
2600
27
2700
28
2800
29
2900
30
3000
31
3100
32
3200
33
3300
34
3400
35
3500
36
3600
37
3700
38
3800
39
3900
40
4000
41
4100
42
4200
43
4300
44
4400
45
4500
46
4600
47
4700
48
4800
49
4900
50
5000
51
5100
52
5200
53
5300
54
5400
55
5500
56
5600
57
5700
58
5800
59
5900
60
6000
61
6100
62
6200
63
6300
64
6400
65
6500
66
6600
67
6700
68
6800
69
6900
70
7000
71
7100
72
7200
73
7300
74
7400
75
7500
76
7600
77
7700
78
7800
79
7900
80
8000
81
8100
82
8200
83
8300
84
8400
85
8500
86
8600
87
8700
88
8800
89
8900
90
9000
91
9100
92
9200
93
9300
94
9400
95
9500
96
9600
97
9700
98
9800
99
9900
100
10000
101
10100
102
10200
103
10300
104
10400
105
10500
106
10600
107
10700
108
10800
109
10900
110
11000
111
11100
112
11200
113
11300
114
11400
115
11500
116
11600
117
11700
118
11800
119
11900
120
12000
121
12100
122
12200
123
12300
124
12400
125
12500
126
12600
127
12700
128
12800
129
12900
130
13000
131
13100
132
13200
133
13300
134
13400
135
13500
136
13600
137
13700
138
13800
139
13900
140
14000
141
14100
142
14200
143
14300
144
14400
145
14500
146
14600
147
14700
148
14800
149
14900
150
15000
151
15100
152
15200
153
15300
154
15400
155
15500
156
15600
157
15700
158
15800
159
15900
160
16000
161
16100
162
16200
163
16300
164
16400
165
16500
166
16600
167
16700
168
16800
169
16900
170
17000
171
17100
172
17200
173
17300
174
17400
175
17500
176
17600
177
17700
178
17800
179
17900
180
18000
181
18100
182
18200
183
18300
184
18400
185
18500
186
18600
187
18700
188
18800
189
18900
190
19000
191
19100
192
19200
193
19300
194
19400
195
19500
196
19600
197
19700
198
19800
199
19900
200
20000
201
20100
202
20200
203
20300
204
20400
205
20500
206
20600
207
20700
208
20800
209
20900
210
21000
211
21100
212
21200
213
21300
214
21400
215
21500
216
21600
217
21700
218
21800
219
21900
220
22000
221
22100
222
22200
223
22300
224
22400
225
22500
226
22600
227
22700
228
22800
229
22900
230
23000
231
23100
232
23200
233
23300
234
23400
235
23500
236
23600
237
23700
238
23800
239
23900
240
24000
241
24100
242
24200
243
24300
244
24400
245
24500
246
24600
247
24700
248
24800
249
24900
250
25000
251
25100
252
25200
253
25300
254
25400
255
25500
256
25600
257
25700
258
25800
259
25900
260
26000
261
26100
262
26200
263
26300
264
26400
265
26500
266
26600
267
26700
268
26800
269
26900
270
27000
271
27100
272
27200
273
27300
274
27400
275
27500
276
27600
277
27700
278
27800
279
27900
280
28000
281
28100
282
28200
283
28300
284
28400
285
28500
286
28600
287
28700
288
28800
289
28900
290
29000
291
29100
292
29200
293
29300
294
29400
295
29500
296
29600
297
29700
298
29800
299
29900
300
30000
301
30100
302
30200
303
30300
304
30400
305
30500
306
30600
307
30700
308
30800
309
30900
310
31000
311
31100
312
31200
313
31300
314
31400
315
31500
316
31600
317
31700
318
31800
319
31900
320
32000
321
32100
322
32200
323
32300
324
32400
325
32500
326
32600
327
32700
328
32800
329
32900
330
33000
331
33100
332
33200
333
33300
334
33400
335
33500
336
33600
337
33700
338
33800
339
33900
340
34000
341
34100
342
34200
343
34300
344
34400
345
34500
346
34600
347
34700
348
34800
349
34900
350
35000
351
35100
352
35200
353
35300
354
35400
355
35500
356
35600
357
35700
358
35800
359
35900
360
36000
361
36100
362
36200
363
36300
364
36400
365
36500
366
36600
367
36700
368
36800
369
36900
370
37000
371
37100
372
37200
373
37300
374
37400
375
37500
376
37600
377
37700
378
37800
379
37900
380
38000
381
38100
382
38200
383
38300
384
38400
385
38500
386
38600
387
38700
388
38800
389
38900
390
39000
391
39100
392
39200
393
39300
394
39400
395
39500
396
39600
397
39700
398
39800
399
39900
400
40000
401
40100
402
40200
403
40300
404
40400
405
40500
406
40600
407
40700
408
40800
409
40900
410
41000
411
41100
412
41200
413
41300
414
41400
415
41500
416
41600
417
41700
418
41800
419
41900
420
42000
421
42100
422
42200
423
42300
424
42400
425
42500
426
42600
427
42700
428
42800
429
42900
430
43000
431
43100
432
43200
433
43300
434
43400
435
43500
436
43600
437
43700
438
43800
439
43900
440
44000
441
44100
442
44200
443
44300
444
44400
445
44500
446
44600
447
44700
448
44800
449
44900
450
45000
451
45100
452
45200
453
45300
454
45400
455
45500
456
45600
457
45700
458
45800
459
45900
460
46000
461
46100
462
46200
463
46300
464
46400
465
46500
466
46600
467
46700
468
46800
469
46900
470
47000
471
47100
472
47200
473
47300
474
47400
475
47500
476
47600
477
47700
478
47800
479
47900
480
48000
481
48100
482
48200
483
48300
484
48400
485
48500
486
48600
487
48700
488
48800
489
48900
490
49000
491
49100
492
49200
493
49300
494
49400
495
49500
496
49600
497
49700
498
49800
499
49900
500
50000
501
50100
502
50200
503
50300
504
50400
505
50500
506
50600
507
50700
508
50800
509
50900
510
51000
511
51100
512
51200
513
51300
514
51400
515
51500
516
51600
517
51700
518
51800
519
51900
520
52000
521
52100
522
52200
523
52300
524
52400
525
52500
526
52600
527
52700
528
52800
529
52900
530
53000
531
53100
532
53200
533
53300
534
53400
535
53500
536
53600
537
53700
538
53800
539
53900
540
54000
541
54100
542
54200
543
54300
544
54400
545
54500
546
54600
547
54700
548
54800
549
54900
550
55000
551
55100
552
55200
553
55300
554
55400
555
55500
556
55600
557
55700
558
55800
559
55900
560
56000
561
56100
562
56200
563
56300
564
56400
565
56500
566
56600
567
56700
568
56800
569
56900
570
57000
571
57100
572
57200
573
57300
574
57400
575
57500
576
57600
577
57700
578
57800
579
57900
580
58000
581
58100
582
58200
583
58300
584
58400
585
58500
586
58600
587
58700
588
58800
589
58900
590
59000
591
59100
592
59200
593
59300
594
59400
595
59500
596
59600
597
59700
598
59800
599
59900
600
60000
601
60100
602
60200
603
60300
604
60400
605
60500
606
60600
607
60700
608
60800
609
60900
610
61000
611
61100
612
61200
613
61300
614
61400
615
61500
616
61600
617
61700
618
61800
619
61900
620
62000
621
62100
622
62200
623
62300
624
62400
625
62500
626
62600
627
62700
628
62800
629
62900
630
63000
631
63100
632
63200
633
63300
634
63400
635
63500
636
63600
637
63700
638
63800
639
63900
640
64000
641
64100
642
64200
643
64300
644
64400
645
64500
646
64600
647
64700
648
64800
649
64900
650
65000
651
65100
652
65200
653
65300
654
65400
655
65500
656
65600
657
65700
658
65800
659
65900
660
66000
661
66100
662
66200
663
66300
664
66400
665
66500
666
66600
667
66700
668
66800
669
66900
670
67000
671
67100
672
67200
673
67300
674
67400
675
67500
676
67600
677
67700
678
67800
679
67900
680
68000
681
68100
682
68200
683
68300
684
68400
685
68500
686
68600
687
68700
688
68800
689
68900
690
69000
691
69100
692
69200
693
69300
694
69400
695
69500
696
69600
697
69700
698
69800
699
69900
700
70000
701
70100
702
70200
703
70300
704
70400
705
70500
706
70600
707
70700
708
70800
709
70900
710
71000
711
71100
712
71200
713
71300
714
71400
715
71500
716
71600
717
71700
718
71800
719
71900
720
72000
721
72100
722
72200
723
72300
724
72400
725
72500
726
72600
727
72700
728
72800
729
72900
730
73000
731
73100
732
73200
733
73300
734
73400
735
73500
736
73600
737
73700
738
73800
739
73900
740
74000
741
74100
742
74200
743
74300
744
74400
745
74500
746
74600
747
74700
748
74800
749
74900
750
75000
751
75100
752
75200
753
75300
754
75400
755
75500
756
75600
757
75700
758
75800
759
75900
760
76000
761
76100
762
76200
763
76300
764
76400
765
76500
766
76600
767
76700
768
76800
769
76900
770
77000
771
77100
772
77200
773
77300
774
77400
775
77500
776
77600
777
77700
778
77800
779
77900
780
78000
781
78100
782
78200
783
78300
784
78400
785
78500
786
78600
787
78700
788
78800
789
78900
790
79000
791
79100
792
79200
793
79300
794
79400
795
79500
796
79600
797
79700
798
79800
799
79900
800
80000
801
80100
802
80200
803
80300
804
80400
805
80500
806
80600
807
80700
808
80800
809
80900
810
81000
811
81100
812
81200
813
81300
814
81400
815
81500
816
81600
817
81700
818
81800
819
81900
820
82000
821
82100
822
82200
823
82300
824
82400
825
82500
826
82600
827
82700
828
82800
829
82900
830
83000
831
83100
832
83200
833
83300
834
83400
835
83500
836
83600
837
83700
838
83800
839
83900
840
84000
841
84100
842
84200
843
84300
844
84400
845
84500
846
84600
847
84700
848
84800
849
84900
850
85000
851
85100
852
85200
853
85300
854
85400
855
85500
856
85600
857
85700
858
85800
859
85900
860
86000
861
86100
862
86200
863
86300
864
86400
865
86500
866
86600
867
86700
868
86800
869
86900
870
87000
871
87100
872
87200
873
87300
874
87400
875
87500
876
87600
877
87700
878
87800
879
87900
880
88000
881
88100
882
88200
883
88300
884
88400
885
88500
886
88600
887
88700
888
88800
889
88900
890
89000
891
89100
892
89200
893
89300
894
89400
895
89500
896
89600
897
89700
898
89800
899
89900
900
90000
901
90100
902
90200
903
90300
904
90400
905
90500
906
90600
907
90700
908
90800
909
90900
910
91000
911
91100
912
91200
913
91300
914
91400
915
91500
916
91600
917
91700
918
91800
919
91900
920
92000
921
92100
922
92200
923
92300
924
92400
925
92500
926
92600
927
92700
928
92800
929
92900
930
93000
931
93100
932
93200
933
93300
934
93400
935
93500
936
93600
937
93700
938
93800
939
93900
940
94000
941
94100
942
94200
943
94300
944
94400
945
94500
946
94600
947
94700
948
94800
949
94900
950
95000
951
95100
952
95200
953
95300
954
95400
955
95500
956
95600
957
95700
958
95800
959
95900
960
96000
961
96100
962
96200
963
96300
964
96400
965
96500
966
96600
967
96700
968
96800
969
96900
970
97000
971
97100
972
97200
973
97300
974
97400
975
97500
976
97600
977
97700
978
97800
979
97900
980
98000
981
98100
982
98200
983
98300
984
98400
985
98500
986
98600
987
98700
988
98800
989
98900
990
99000
991
99100
992
99200
993
99300
994
99400
995
99500
996
99600
997
99700
998
99800
999
99900
1000
100000
1001
100100
1002
100200
1003
100300
1004
100400
1005
100500
1006
100600
1007
100700
1008
100800
1009
100900
1010
101000
1011
101100
1012
101200
1013
101300
1014
101400
1015
101500
1016
101600
1017
101700
1018
101800
1019
101900
1020
102000
1021
102100
1022
102200
1023
102300
1024
102400
1025
102500
1026
102600
1027
102700
1028
102800
1029
102900
1030
103000
1031
103100
1032
103200
1033
103300
1034
103400
1035
103500
1036
103600
1037
103700
1038
103800
1039
103900
1040
104000
1041
104100
1042
104200
1043
104300
1044
104400
1045
104500
1046
104600
1047
104700
1048
104800
1049
104900
1050
105000
1051
105100
1052
105200
1053
105300
1054
105400
1055
105500
1056
105600
1057
105700
1058
105800
1059
105900
1060
106000
1061
106100
1062
106200
1063
106300
1064
106400
1065
106500
1066
106600
1067
106700
1068
106800
1069
106900
1070
107000
1071
107100
1072
107200
1073
107300
1074
107400
1075
107500
1076
107600
1077
107700
1078
107800
1079
107900
1080
108000
1081
108100
1082
108200
1083
108300
1084
108400
1085
108500
1086
108600
1087
108700
1088
108800
1089
108900
1090
109000
1091
109100
1092
109200
1093
109300
1094
109400
1095
109500
1096
109600
1097
109700
1098
109800
1099
109900
1100
110000
1101
110100
1102
110200
1103
110300
1104
110400
1105
110500
1106
110600
1107
110700
1108
110800
1109
110900
1110
111000
1111
111100
1112
111200
1113
111300
1114
111400
1115
111500
1116
111600
1117
111700
1118
111800
1119
111900
1120
112000
1121
112100
1122
112200
1123
112300
1124
112400
1125
112500
1126
112600
1127
112700
1128
112800
1129
112900
1130
113000
1131
113100
1132
113200
1133
113300
1134
113400
1135
113500
1136
113600
1137
113700
1138
113800
1139
113900
1140
114000
1141
114100
1142
114200
1143
114300
1144
114400
1145
114500
1146
114600
1147
114700
1148
114800
1149
114900
1150
115000
1151
115100
1152
115200
1153
115300
1154
115400
1155
115500
1156
115600
1157
115700
1158
115800
1159
115900
1160
116000
1161
116100
1162
116200
1163
116300
1164
116400
1165
116500
1166
116600
1167
116700
1168
116800
1169
116900
1170
117000
1171
117100
1172
117200
1173
117300
1174
117400
1175
117500
1176
117600
1177
117700
1178
117800
1179
117900
1180
118000
1181
118100
1182
118200
1183
118300
1184
118400
1185
118500
1186
118600
1187
118700
1188
118800
1189
118900
1190
119000
1191
119100
1192
119200
1193
119300
1194
119400
1195
119500
1196
119600
1197
119700
1198
119800
1199
119900
1200
120000
1201
120100
1202
120200
1203
120300
1204
120400
1205
120500
1206
120600
1207
120700
1208
120800
1209
120900
1210
121000
1211
121100
1212
121200
1213
121300
1214
121400
1215
121500
1216
121600
1217
121700
1218
121800
1219
121900
1220
122000
1221
122100
1222
122200
1223
122300
1224
122400
1225
122500
1226
122600
1227
122700
1228
122800
1229
122900
1230
123000
1231
123100
1232
123200
1233
123300
1234
123400
1235
123500
1236
123600
1237
123700
1238
123800
1239
123900
1240
124000
1241
124100
1242
124200
1243
124300
1244
124400
1245
124500
1246
124600
1247
124700
1248
124800
1249
124900
1250
125000
1251
125100
1252
125200
1253
125300
1254
125400
1255
125500
1256
125600
1257
125700
1258
125800
1259
125900
1260
126000
1261
126100
1262
126200
1263
126300
1264
126400
1265
126500
1266
126600
1267
126700
1268
126800
1269
126900
1270
127000
1271
127100
1272
127200
1273
127300
1274
127400
1275
127500
1276
127600
1277
127700
1278
127800
1279
127900

In [289]:
loans_full.to_csv('~/intro_course_data_science_for_good/data/loans_full_large.csv')
loans_details.to_csv('~/intro_course_data_science_for_good/data/loans_details.csv')

We will also pull data about Kiva's partners, who are the intermediaries between Kiva and end recipients for the majority of loans made.

In [2]:
data_path = '~/intro_course_data_science_for_good/data'

In [52]:
df=pd.read_csv(data_path+'/loans_details.csv', low_memory=False)

In [53]:
df.head()

,Unnamed: 0,activity,basket_amount,bonus_credit_eligibility,borrowers,currency_exchange_loss_amount,description.languages,description.texts.en,description.texts.es,description.texts.fr,description.texts.ru,funded_amount,funded_date,id,image.id,image.template_id,journal_totals.bulkEntries,journal_totals.entries,lender_count,loan_amount,location.country,location.country_code,location.geo.level,location.geo.pairs,location.geo.type,location.town,name,partner_id,payments,planned_expiration_date,posted_date,sector,status,tags,terms.disbursal_amount,terms.disbursal_currency,terms.disbursal_date,terms.loan_amount,terms.local_payments,terms.loss_liability.currency_exchange,terms.loss_liability.currency_exchange_coverage_rate,terms.loss_liability.nonpayment,terms.repayment_interval,terms.repayment_term,terms.scheduled_payments,themes,translator.byline,translator.image,use,video.id,video.thumbnailImageId,video.title,video.youtubeId
0,0,Farming,0.0,False,"[{'first_name': 'Evaline', 'last_name': '', 'g...",NaN,['en'],Evaline is a married lady aged 44 years old an...,NaN,NaN,NaN,0,NaN,1291548,2516002,1,0,0,0,500,Kenya,KE,town,-0.583333 35.183333,point,litein,Evaline,386.0,[],2017-06-08T00:40:03Z,2017-05-09T00:40:03Z,Agriculture,fundraising,"[{'name': '#Woman Owned Biz'}, {'name': '#Pare...",50000.0,KES,2017-04-03T07:00:00Z,500,"[{'due_date': '2017-05-10T07:00:00Z', 'amount'...",shared,0.1,lender,Monthly,14,"[{'due_date': '2017-07-01T07:00:00Z', 'amount'...",NaN,Julie Keaton,892591.0,to purchase more tea leaves to sell to the tea...,NaN,NaN,NaN,NaN
1,1,Furniture Making,0.0,False,"[{'first_name': 'Julias', 'last_name': '', 'ge...",NaN,['en'],Aged 42 years is a man by the name of Julias. ...,NaN,NaN,NaN,0,NaN,1291532,2515992,1,0,0,0,500,Kenya,KE,town,0.566667 34.566667,point,Bungoma,Julias,386.0,[],2017-06-08T00:30:05Z,2017-05-09T00:30:05Z,Manufacturing,fundraising,[],50000.0,KES,2017-04-03T07:00:00Z,500,"[{'due_date': '2017-05-09T07:00:00Z', 'amount'...",shared,0.1,lender,Monthly,14,"[{'due_date': '2017-07-01T07:00:00Z', 'amount'...",NaN,Morena Calvo,1832928.0,to buy timber to make more furniture for his e...,NaN,NaN,NaN,NaN
2,2,Home Energy,0.0,False,"[{'first_name': 'Rose', 'last_name': '', 'gend...",NaN,['en'],"Hello Kiva Community! <br /><br />Meet Rose, w...",NaN,NaN,NaN,50,NaN,1291530,2515991,1,0,0,2,75,Kenya,KE,town,0.516667 35.283333,point,Eldoret,Rose,156.0,[],2017-06-08T00:30:03Z,2017-05-09T00:30:04Z,Personal Use,fundraising,"[{'name': '#Eco-friendly'}, {'name': '#Technol...",6000.0,KES,2017-04-28T07:00:00Z,75,"[{'due_date': '2017-05-14T07:00:00Z', 'amount'...",shared,0.1,lender,Monthly,14,"[{'due_date': '2017-07-01T07:00:00Z', 'amount'...","['Green', 'Earth Day Campaign']",Julie Keaton,892591.0,to buy a solar lantern.,NaN,NaN,NaN,NaN
3,3,Used Clothing,0.0,False,"[{'first_name': 'Jane', 'last_name': '', 'gend...",NaN,['en'],"Jane was born in the 1980, and she is happily ...",NaN,NaN,NaN,0,NaN,1291525,2515986,1,0,0,0,500,Kenya,KE,town,0.566667 34.566667,point,Bungoma,Jane,386.0,[],2017-06-08T00:20:04Z,2017-05-09T00:20:04Z,Clothing,fundraising,[{'name': '#Eco-friendly'}],50000.0,KES,2017-04-03T07:00:00Z,500,"[{'due_date': '2017-05-08T07:00:00Z', 'amount'...",shared,0.1,lender,Monthly,14,"[{'due_date': '2017-07-01T07:00:00Z', 'amount'...",NaN,Julie Keaton,892591.0,to buy more clothes to meet the needs and tast...,NaN,NaN,NaN,NaN
4,4,Farming,0.0,False,"[{'first_name': 'Alice', 'last_name': '', 'gen...",NaN,['en'],Alice (the woman pictured above in her small s...,NaN,NaN,NaN,0,NaN,1291518,2515975,1,0,0,0,400,Kenya,KE,town,1 38,point,Nandi Hills,Alice,156.0,[],2017-06-08T00:20:03Z,2017-05-09T00:20:03Z,Agriculture,fundraising,[{'name': '#Woman Owned Biz'}],40000.0,KES,2017-05-27T07:00:00Z,400,"[{'due_date': '2017-05-27T07:00:00Z', 'amount'...",shared,0.1,lender,Monthly,13,"[{'due_date': '2017-07-01T07:00:00Z', 'amount'...",['Rural Exclusion'],NaN,NaN,"to buy farming inputs (fertilizers, pesticides...",NaN,NaN,NaN,NaN

In [54]:
df=df[df['partner_id'].notnull()]

In [59]:
df['partner_id']=df['partner_id'].astype(int).astype(str)

In [60]:
partner_id=df['partner_id'].unique().tolist()

In [61]:
partner_id

['386',
 '156',
 '133',
 '218',
 '388',
 '164',
 '138',
 '202',
 '258',
 '262',
 '526',
 '520',
 '466',
 '477',
 '397',
 '512',
 '505',
 '500',
 '502',
 '436',
 '491',
 '469',
 '276',
 '322',
 '473',
 '405',
 '340',
 '350',
 '341',
 '412',
 '286',
 '447',
 '277',
 '324',
 '282',
 '213',
 '385',
 '259',
 '257',
 '212',
 '203',
 '336',
 '345',
 '272',
 '142',
 '24',
 '36',
 '92',
 '27',
 '25',
 '6',
 '32']

In [70]:
d = r.get('https://api.kivaws.org/v1/partners/322.json?app_id=org.deltanalytics')

In [71]:
d.headers

{'Date': 'Tue, 16 May 2017 22:02:10 GMT', 'Server': 'Apache/2.4.7 (Ubuntu)', 'Access-Control-Allow-Origin': '*', 'Expires': 'Tue, 03 Jul 2001 06:00:00 GMT', 'Last-Modified': 'Tue, 16 May 2017 22:02:10 GMT', 'Cache-Control': 'private, no-store, no-cache, must-revalidate, max-age=0, post-check=0, pre-check=0, proxy-revalidate, no-transform', 'Pragma': 'no-cache', 'X-RateLimit-Overall-Limit': '500', 'X-RateLimit-Overall-Remaining': '500', 'Vary': 'Accept-Encoding', 'Content-Encoding': 'gzip', 'Content-Length': '447', 'Content-Type': 'application/json; charset=UTF-8'}

In [66]:
d.json();

{'partners': [{'average_loan_size_percent_per_capita_income': 0,
   'charges_fees_and_interest': False,
   'countries': [{'iso_code': 'KE',
     'location': {'geo': {'level': 'country',
       'pairs': '1 38',
       'type': 'point'}},
     'name': 'Kenya',
     'region': 'Africa'}],
   'currency_exchange_loss_rate': 0.29602128530495,
   'default_rate': 16.580365296804,
   'default_rate_note': '',
   'delinquency_rate': 75.834468155791,
   'delinquency_rate_note': '',
   'id': 322,
   'image': {'id': 2081491, 'template_id': 1},
   'loans_at_risk_rate': 100,
   'loans_posted': 84,
   'name': 'iSmart Kenya',
   'portfolio_yield_note': '',
   'rating': 'Not Rated',
   'start_date': '2013-12-17T17:50:04Z',
   'status': 'active',
   'total_amount_raised': 122150,
   'url': 'http://www.facebook.com/livelyhoods'}]}

In [74]:
def extract_loan_partners(partner_ids):
    loan_partner_details=pd.DataFrame()
    for n in partner_ids:
        print (n)
        d = r.get('https://api.kivaws.org/v1/partners/'+n+'.json?app_id=org.deltanalytics')
        data = json.loads(d.text)
        partners=json_normalize(data['partners'])
        loan_partner_details=loan_partner_details.append(partners, ignore_index=True)
        print(len(loan_partner_details.index))
    
    return loan_partner_details

In [75]:
loan_partner_details=extract_loan_partners(partner_id)

386
1
156
2
133
3
218
4
388
5
164
6
138
7
202
8
258
9
262
10
526
11
520
12
466
13
477
14
397
15
512
16
505
17
500
18
502
19
436
20
491
21
469
22
276
23
322
24
473
25
405
26
340
27
350
28
341
29
412
30
286
31
447
32
277
33
324
34
282
35
213
36
385
37
259
38
257
39
212
40
203
41
336
42
345
43
272
44
142
45
24
46
36
47
92
48
27
49
25
50
6
51
32
52

In [76]:
loan_partner_details.head()

,average_loan_size_percent_per_capita_income,charges_fees_and_interest,countries,currency_exchange_loss_rate,default_rate,default_rate_note,delinquency_rate,delinquency_rate_note,id,image.id,image.template_id,loans_at_risk_rate,loans_posted,name,portfolio_yield,portfolio_yield_note,profitability,rating,social_performance_strengths,start_date,status,total_amount_raised,url
0,0.0,True,"[{'iso_code': 'KE', 'region': 'Africa', 'name'...",0.120642,0.000000,,7.017031,,386,1592272,1,21.165398,1948,Kenya ECLOF,40.3,,2.54,2.0,"[{'id': 3, 'name': 'Client Voice', 'descriptio...",2014-05-29T13:30:02Z,active,863375,http://www.eclof-kenya.org/
1,49.6,True,"[{'iso_code': 'KE', 'region': 'Africa', 'name'...",0.431935,2.575299,,2.536684,,156,1834079,1,24.200354,18150,Juhudi Kilimo,33.0,,-7.10,2.0,"[{'id': 1, 'name': 'Anti-Poverty Focus', 'desc...",2010-01-15T20:20:17Z,active,7705925,http://www.juhudikilimo.com/
2,34.9,True,"[{'iso_code': 'KE', 'region': 'Africa', 'name'...",0.089354,3.652283,,8.017062,,133,1495190,1,16.058249,30794,VisionFund Kenya,36.0,,-1.70,2.5,"[{'id': 1, 'name': 'Anti-Poverty Focus', 'desc...",2009-05-29T11:35:11Z,active,11366975,http://www.visionfundkenya.co.ke/
3,0.0,True,"[{'iso_code': 'KE', 'region': 'Africa', 'name'...",0.307016,1.978274,,0.000000,,218,976374,1,0.000000,77,Strathmore University,NaN,,0.50,3.0,"[{'id': 1, 'name': 'Anti-Poverty Focus', 'desc...",2012-02-03T18:10:02Z,active,638400,http://www.strathmore.edu/
4,0.0,True,"[{'iso_code': 'KE', 'region': 'Africa', 'name'...",0.217001,0.000000,,0.644281,,388,1582473,1,3.858614,3132,Hand in Hand Eastern Africa,41.0,,27.90,1.5,"[{'id': 1, 'name': 'Anti-Poverty Focus', 'desc...",2014-06-25T15:10:06Z,active,990175,http://handinhand-ea.org/

In [77]:
loan_partner_details.to_csv('~/intro_course_data_science_for_good/data/loans_partner_details.csv')